<div class="title" id="box-model">
    <h2>Box-Model</h2>
    <h4>> CSS</h4>
</div>

{{{ startCode lang="css" text="Example: 1.0"}}}
    .something {
        margin: 5px 5px 10px 10px; // 1.top 2.right 3.bottom 4.
        // ...
    }
{{{ endCode }}}

<img src="imgs/box-model.png" alt="The box model"></img>
<!-- <p>Source: <a href="http://wiki.selfhtml.org/wiki/CSS/Box-Modell">http://wiki.selfhtml.org/wiki/CSS/Box-Modell</a></p> -->

<section class="source">
    Source:
    <ol>
        <li>https://stackoverflow.com/a/24764861</li>
    </ol>
</section>
