<article>
    <div class="title" id="box-model">
        <h2>Box-Model <h2>
        <h4>> CSS</h4>
        <span class="go-top"><a href="#">&#xe110;</a></span>
    </div>

    <div class="center">
        <figure>
            <img src="imgs/box-model.svg" alt="The box model"></img>
            <figcaption>Box model <sup><a href="#box-model-source">{1}</a></sup></figcaption>
        </figure>
    </div>

    {{{ startCode lang="css" text="Example: 1.0"}}}
        .box1 { margin: 0px 0px 20px 40px; } /* 1.top 2.right 3.bottom 4.left */
        .box2 { margin: 25px 50px 0px 0px; }
    {{{ endCode }}}

    {{{ startHTMLex }}}
        <div style="background-color: lightgrey; display: inline-block;"><div style="margin: 0px 0px 20px 40px; background-color: red; width: 50px; height: 50px;">BOX 1</div></div>
        <br>
        <div style="background-color: lightgreen; display: inline-block;"><div style="margin: 25px 50px 0px 0px; background-color: red; width: 50px; height: 50px;">BOX 2</div></div>
    {{{ endHTMLex }}}

    {{> article_footer author="Simon Oczadly" date="10.04.2018"
    sources="
        [{
            \"des\": \"Picture:\",
            \"link\": \"https://stackoverflow.com/a/24764861/\"
        },{
            \"des\": \"Test:\",
            \"link\": \"https://stackoverflow.com/\"
        }]
    "}}
</article>
