<article>
    <div class="title" id="address-tag">
        <h2>Adress tag</h2>
        <h4>> HTML</h4>
    </div>

    <p>The <em>&lt;address&gt;</em> should be only used for contact informations of the
        autor given article/ document. <strong>Not</strong> for post address etc..</p>

    {{{ startCode lang="html" text="Example"}}}
        <article>
            <h1>New article</h1>
            <p>Some text</p>
            <footer>
                <address>
                    Simon O.<br>
                    Street Yo.<br>
                    www.hello-solar-system.com
                </address>
            </footer>
        </article>
    {{{ endCode }}}
</article>
