<article>
    {{> article_header title="Adress tag" id="address-tag" lang="HTML"}}
    <main>

    <p>The {{{ htmlCode text="<address>" }}} should be only used for contact informations of the
        autor given article/ document. <strong>Not</strong> for post address etc..</p>

    {{{ startCode lang="html" text="Example"}}}
        <article>
            <h1>New article</h1>
            <p>Some text</p>
            <footer>
                <address>
                    Simon O.<br>
                    Street Yo.<br>
                    www.hello-solar-system.com
                </address>
            </footer>
        </article>
    {{{ endCode }}}
    </main>
    {{> article_footer author="Simon Oczadly" date="10.04.2018"}}
</article>
