<article>
    <div class="title" id="description-list">
        <h2>Description list</h2>
        <h4>> HTML</h4>
        <span class="go-top"><a href="#">&#xe110;</a></span>
    </div>

    {{{ startCode lang="html" text="Example:"}}}
        <h1>Book informations</h1>
        <dl>
            <dt>Publisher</dt>
            <dd>It's for you</dd>
            <dt>Author</dt>
            <dd>Simon Okay</dd>
            <dt>Price</dt>
            <dd>15,00€</dd>
        </dl>
    {{{ endCode }}}
</article>
