{{{ startCode lang="html" }}}
    <section id="left-side">
        <article>
            <h2>HTML5 | article or section?</h2>
            <p>This entry is written in an article-tag.</p>
            <section>
                <p>I'm a section-tag.</p>
            </section>
        </article>
    <section>
{{{ endCode }}}
