<footer class="footer-page">
    <section id="box-model-source" class="source">
        Source:
        <ol>
            {{#sourceList sources}}{{source}}{{/sourceList}}
        </ol>
    </section>
    <section class="article-info">
        <a href="#" rel="author">{{ author }}</a> |
        <time datetime="{{ dateMachine }}"> {{ date }}</time>
    </section>
</footer>`
