<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello Solar System!</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="Collection of Web-Stuff creation">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">

        <link rel="stylesheet" href="libs/prism.css">
                <script src="libs/prism.js"></script>
    </head>
    <body>
        {{> header }}
        <nav>
            <ul>
                <ul>
                    HTML
                    <li><a href="#article-or-section-and-aside">Article or Section</a></li>
                    <li><a href="#address-tag">Address tag</a></li>
                </ul>
                <ul>
                    CSS
                    <li><a href="#box-model">Box-Model</a></li>
                </ul>
            </ul>
        </nav>
        <div id="wrapper">

            {{> article_or_section_and_aside }}
            <hr>
            {{> box_model }}
            <hr>
            {{> address }}

        </div>
        {{> footer }}

        <script src="libs/prism.js"></script>
    </body>
</html>
