main {
    margin: auto;
    width: 900px;
}

h1 {
    /* float: left; */
}

/* * {
    border-style: solid;
    border-width: 1px;
    margin: 5px 5px 0px 0px;
} */

body {
    background-color: #C7C7C8;
}

article {
    background-color: #F7F7F8;
    padding: 10px 10px 10px 10px;
    margin: 25px 25px 0 0;
}

/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
} */

figure {
    margin: 0 auto;
    display: inline-block;
    text-align: center;

    /* border-style: dashed;
    border-width: 1px;
    border-color: blue; */
}

figcaption {
    text-align: right;
    padding: 5px 25px;
}

header, footer {
    background-color: #AAA;
    padding: 5px 5px 5px 5px;
}

nav {
    padding: 15px 3px 3px 2px;
    margin-bottom: 25px;
    background-color: #999;
}

#footer-page {
    margin: 50px 0 0 0;
    padding: 25px;
}

.footer-article {

}

hr {
    border: none;
    height: 5px;
    background-color: #999;
}

.title {
    background-color: #ff9933;
    padding: 5px 5px 5px 10px;
    margin-bottom: 25px;
}

.listing-text {
    margin-bottom: -4px;
}

.source {
    margin: 0px 25px 0 0;
    /* border-style: solid;
    border-width: 1px; */
}

.code {
    width: 100%;
    margin: 0px 0 20px 0;
}

.code-html {
    color: #e2777a;
    background-color: rgb(45, 45, 45);
    padding: 1px 2px 1px 2px;
}

.hide {
    display: none;
}

.html-example {
    border-style: dashed;
    border-width: 1px;
    background-color: white;
    margin-bottom: 25px;
}

.no-css {
    all: initial;
    * {
      all: unset;
    }
}

.test-border {
    border-style: dashed;
    border-width: 1px;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.go-top {
    /* float: right; */
}
