<h2>Article or Section</h2>
<p>HTML</p>

<p>A <em>section</em> is used to group different <em>articles</em> into different
    purposes or subjects, or to define the different sections of a single <em>article</em>.</p>

{{{ startCode lang="html" text="Example: 1.0"}}}
    <section id="content">
        <article>
            <h2>Hello, I'm a article</h2>
            <p>and I'm inside a section</p>
        </article>
        <article>
            <h2>Hello, I'm a another article</h2>
            <p>Look at me!</p>
        </article>
    </section>
{{{ endCode }}}

<img src="imgs/article-or-section.png" alt="An example of section and article"></img>
<p>Source: <a href="https://stackoverflow.com/a/24764861">https://stackoverflow.com/a/24764861</a></p>

<section class="source hide">
    Source:
    <ol>
        <li>https://stackoverflow.com/a/24764861</li>
    </ol>
</section>
